<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/test-editor.css" th:href="@{css/test-editor.css}">
    <title>Admin-4</title>
</head>
<body>
<header>
    <div class="container">
        <nav class="row navbar navbar-expand-lg">
            <a class="col-auto navbar-brand" href="#"><img src="../../static/img/logo.svg" th:src="@{img/logo.svg}"></a>
            <div class="col d-flex justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="../../static/img/burger-icon.png" th:src="@{img/burger-icon.png}">
                </button>
            </div>
            <div class="col-12 col-lg-10">
                <div class="collapse navbar-collapse w-100" id="navbarNavAltMarkup">
                    <div class="col">
                        <div class="col navbar-nav justify-content-evenly">
                            <a class="nav-link active" aria-current="page" href="#" th:href="@{/user-editor}" >Users</a>
                            <a class="nav-link" href="#" th:href="@{/testBuilder}" >Tests</a>
                            <a class="nav-link" href="#" th:href="@{/adminStatistic}" >Statistic</a>
                        </div>
                    </div>
                    <div class="col-auto d-flex align-items-center nav-control">
                        <span>Admin </span><span class="nav-control__separator"></span><span th:text="${session.user.firstName} + ' ' + ${session.user.lastName}">Maksim Salivanov</span><a class="nav-control__logout" href="#" th:href="@{/logout}">
                        <img src="../../static/img/logout-icon.svg"  th:src="@{img/logout-icon.svg}" ></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-3 theme-sidebar">
                    <div class="d-flex sidebar-add-theme">
                        <span class="sidebar-add-theme__text">Themes</span>
                        <button class="sidebar-add-theme__button" id="activateAddThemeButton"><img class="button"
                                src="../../static/img/add-icon.svg" alt="" th:src="@{img/add-icon.svg}"></button>
                    </div>
                    <form class="d-flex py-3 add-theme-form" id="addThemeForm" action="/addTopic" method="post">
                        <input class="col-auto add-theme-form__input" type="text" required>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button class="col-auto add-theme-form__button" type="submit">
                            <img src="../../static/img/submit-icon.svg"  th:src="@{img/submit-icon.svg}"
                                 alt="submit icon">
                        </button>
                    </form>
                    <div class="theme" id="testThemes">
                        <div class="theme__section">
                            <div class="row theme__item theme-item"  th:each ="topic : ${topicLists}"
                                 data-th-data-id="${topic.topicId}">
                                <input class="col theme-item__input" th:value="${topic.topicName}" readonly>
                                <span class="col-auto theme-item__control">
                      <button class="theme-item__submit"><img src="../../static/img/submit-icon.svg"
                                                              th:src="@{img/submit-icon.svg}" alt=""></button>
                      <button class="theme-item__edit"><img src="../../static/img/edit-icon.svg"
                                                            th:src="@{img/edit-icon.svg}" alt=""></button>
                      <button class="theme-item__delete">
                          <img src="../../static/img/delete-icon.svg" th:src="@{img/delete-icon.svg}" alt=""></button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-9 detail" id="detail">
                    <h2 class="text-start detail__title">Java 2 Fundamentals</h2>
                    <div class="align-items-center detail__create">
                        <button type="button" class="row detail-card__add-button" id="createNewTestButton"
                                data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img class="col-auto" src="../../static/img/add-icon.svg" alt="add new test"
                                 th:src="@{img/add-icon.svg}">
                            <span class="col-auto detail-card__text">Create new test</span>
                        </button>
                    </div>
                    <h3 class="detail__list-title">List of tests</h3>
                    <div class="detail__list" id="detailList">

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="container">
        <span class="row justify-content-center py-4 footer__copyright">© Dev Incubator</span>
    </div>
</footer>


<!-- New question Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="container modal-content">
            <div class="row">
                <h5 class="col modal__title">New test</h5>
                <button id="newTestFormCloseButton" type="col-auto button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="d-flex flex-column" action="/addTest" id="newTestForm" method="post">
                <label>
                    <div>Name</div>
                    <input class="col-12 form-input" name="testName" type="text" required>
                </label>
                <label class="modal__description">
                    <div>Description</div>
                    <textarea class="col-12 form-input" name="testDescription" id="" cols="30" rows="10" required></textarea>
                </label>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button class="form-button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>


<!-- Question Modal -->
<div class="modal fade question-modal" id="questionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="container modal-content">
            <div class="row">
                <button type="col-auto button" class="btn-close" id="questionModalCloseButton" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="d-flex flex-column" id="createQuestionForm" action="" >
                <label >
                    <div class="question__title">Question</div>
                    <textarea class="col-12 form-input" name="question" id="questionFormQuestion" cols="30" rows="10">
            </textarea>
                </label>
                <div class="row" id="questionFormAnswerField">

                </div>

                <div class="row">
                    <button type="button" class="col-auto d-flex align-items-center add-answer-button">
                        <img src="../../static/img/add-icon.svg" th:src="@{img/add-icon.svg}" alt="">
                        <span> Add new question</span>
                    </button>
                    <button class="col form-button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="../../static/index.js" th:src="@{js/test-editor.js}"></script>
</body>
</html>