<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="header"></div>

<main class="">
    <section class="result">
        <div class="container result__container">
          <div class="row justify-content-center result__head">
            <div class=" col result__title"><h3>Test statistics</h3></div>
          </div>
          <div class="row result__body">
            <div class="col-12 result__control">
              <div class="row w-100 gy-2 justify-content-between">
                <label class="col-12 col-sm-6 col-lg-5 ">
                  <span>Select theme</span>
                  <select class="w-100 theme-select" name="theme" id="themeSelect">
                    <option value="" selected disabled>Choose theme</option>
                    <option th:each ="topic : ${topicList}" th:value="${topic.topicId}" th:text="${topic.topicName}">Java 2 Fundamentals</option>
                  </select>
                </label>
                <a th:href="@{/getUserStatistic}" href="#" class="col-auto d-flex align-items-center align-self-end result__link">User statistics</a>
              </div>
            </div>
            <div class="col-12 data-container" id="dataContainer">
              <div class="grid">
                <div class="grid__item grid__head-item">Test name</div>
                <div class="text-center grid__item grid__head-item">Pass</div>
                <div class="text-center grid__item grid__head-item">
                  <span>Average</span>
                  <button class="sort-button" id="sortTestsButton"><img src="../../static/img/sort-icon.svg"
                  th:src="@{img/sort-icon.svg}"></button>
                </div>
              </div>
              <div class="col-12" id="resultTableBody">
                <!-- Fetch data layout -->
            </div>
            </div>
          </div>
        </div>
    </section>
</main>

<div th:replace="footer"></div>
<div th:replace="modals"></div>
<script src="../../static/js/test-statistic.js" th:src="@{js/test-statistic.js}"></script>
</body>
</html>
