<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/test-statistic.css" th:href="@{css/test-statistic.css}"/>
    <title>Personal Statistics</title>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg nav">
          <a class="col-auto navbar-brand" href="#"><img src="../../static/img/logo.svg" th:src = "@{img/logo.svg}"></a>
          <div class="col d-flex justify-content-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <img src="../../static/img/burger-icon.png" th:src="@{img/burger-icon.png}">
            </button>
          </div>
          <div class="col-12 col-lg-10">
            <div class="collapse navbar-collapse w-100" id="navbarNavAltMarkup">
                <div class="col">
                  <div class="col navbar-nav justify-content-evenly">
                    <a class="nav-link" aria-current="page" href="#" th:href="@{/user-editor}" >Users</a>
                    <a class="nav-link" href="#" th:href="@{/testBuilder}" >Tests</a>
                    <a class="nav-link  active" href="#" th:href="@{/adminStatistic}" >Statistic</a>
                  </div>
                </div>
              <div class="col-auto d-flex align-items-center nav-control">
                <span>Admin </span><span class="nav-control__separator"></span><span th:text="${session.user.firstName} + ' ' + ${session.user.lastName}">Maksim Salivanov</span><a class="nav-control__logout" href="#" th:href="@{/logout}">
                <img src="../../static/img/logout-icon.svg"  th:src="@{img/logout-icon.svg}" ></a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main class="">
      <section class="result">
        <div class="container result__container">
          <div class="row justify-content-center result__head">
            <div class=" col result__title"><h3>Test statistics</h3></div>
          </div>
          <div class="row result__body">
            <div class="col-12 result__control">
              <div class="row w-100 gy-2 justify-content-between">
                <label class="col-12 col-sm-6 col-lg-5 ">
                  <span>Select theme</span>
                  <select class="w-100 theme-select" name="theme" id="themeSelect">
                    <option value="" selected disabled>Choose theme</option>
                    <option th:each ="topic : ${topicList}" th:value="${topic.topicId}" th:text="${topic.topicName}">Java 2 Fundamentals</option>
                  </select>
                </label>
                <a href="#" class="col-auto d-flex align-items-center align-self-end result__link">User statistics</a>
              </div>
            </div>
            <div class="col-12 data-container" id="dataContainer">
              <div class="grid">
                <div class="grid__item grid__head-item">Test name</div>
                <div class="text-center grid__item grid__head-item">Pass</div>
                <div class="text-center grid__item grid__head-item">
                  <span>Average</span>
                  <button class="sort-button" id="sortTestsButton"><img src="../../static/img/sort-icon.svg"
                  th:src="@{img/sort-icon.svg}"></button>
                </div>
              </div>
              <div class="col-12" id="resultTableBody">
                <!-- Fetch data layout -->
            </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <div class="d-flex justify-content-center">
          <h3 class="footer-text">© Dev Incubator</h3>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="../../static/js/test-statistic.js" th:src="@{js/test-statistic.js}"></script>
  </body>
</html>
