<div th:replace="/fragments/header"></div>

<main>
    <div class="users container">
        <div class="row d-flex">
            <h2 class="col-md-4 col-lg-3 users__title">Users list</h2>
            <div class="col-md-4">
                <button class="users__add-button add-button" data-bs-toggle="modal"
                        data-bs-target="#modal-create-user" id="openCreateModalButton">
                    <img th:src="@{/img/add-icon.svg}" alt="add user icon" class="icon-btn">
                    <span>Add new user</span>
                </button>
            </div>
        </div>
        <ul class="container users__list">
            <li class="row users__item user-info" th:each="user : ${session.users}" data-th-data-id="${user.userId}">
                <span class="col-md-3 user-info__name"
                      th:text="${user.firstName} + ' ' + ${user.lastName}">Maria Zapalina</span>
                <div class="col user-info__email" th:text="${user.login}">zapalina@gmail.com</div>
                <div class="col-auto user-info__control">
                    <button class="user-info__button_edit" data-bs-toggle="modal"
                            data-bs-target="#modal-edit-user">
                        <img th:src="@{/img/edit-icon.svg}" alt="edit user" class="icon-btn">
                    </button>
                    <button class="user-info__button_delete" data-bs-toggle="modal"
                            data-bs-target="#modal-delete-user">
                        <img th:src="@{/img/delete-icon.svg}" alt="delete user" class="icon-btn">
                    </button>
                </div>
            </li>
        </ul>
    </div>
</main>

<div th:replace="/fragments/footer"></div>
<div th:replace="/fragments/modals"></div>

<script th:src="@{/js/admin.js}"></script>
</body>
</html>