<div th:replace="/fragments/header"></div>

<main>
    <section class="result">
        <div class="container result__container">
            <div class="row justify-content-center result__head">
                <div class=" col result__title"><h3>User statistics</h3></div>
            </div>
            <div class="result__body">
                <div class="result__control">
                    <div class="row w-100 gy-2 justify-content-between">
                        <label class="col-12">
                            <div class="text-start mb-2">Select a student</div>
                            <select class="w-100 theme-select" name="theme" id="themeSelect">
                                <option value="" selected disabled>Student name</option>
                                <option th:each="user : ${userListStat}" th:value="${user.userId}"
                                        th:text="${user.firstName}+ ' ' + ${user.lastName}">Sashko
                                </option>
                            </select>
                        </label>
                        <a th:href="@{/admin/adminStatistic}" href="#"
                           class="col-auto d-flex align-items-center align-self-end result__link">Test statistics</a>
                    </div>
                </div>
                <div class="data-container container mt-5" id="dataContainer">
                    <div class="row grid__head">
                        <div class="col-1 text-start">#</div>
                        <div class="col-8 text-start mb-2 grid__head-item">Name of the test</div>
                        <div class="col-3 text-center d-flex justify-content-between">
                            <div class="text-center grid__head-item">Pass</div>
                            <div class="text-center grid__head-item">
                                <span>Average</span>
                                <button class="sort-button" id="sortTestsButton"><img th:src="@{/img/sort-icon.svg}"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row grid__item" id="resultTableBody">
                        <!-- Fetch data layout -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:replace="/fragments/footer"></div>
<div th:replace="/fragments/modals"></div>

<script src="../../static/js/user-statistic.js" th:src="@{/js/user-statistic.js}"></script>
</body>
</html>
