<div th:replace="header"></div>

<main>
    <div class="result">
        <div class="row justify-content-center">
            <div class="result__title col-auto"><h3>User statistic</h3></div>
        </div>
        <div class="grid">
            <div class="grid__head grid__item">
                <div scope="col">#</div>
                <div scope="col">Name of the test</div>
                <div scope="col">Pass</div>
                <div scope="col"><span>Average</span><button>srt</button></div>
            </div>
        </div>

    </div>
</main>

<div th:replace="footer"></div>
<div th:replace="modals"></div>

</body>
</html>
