@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: Roboto;
  line-height: 150%;
  box-sizing: border-box;
}

header {
  padding: 12px 0;
  font-size: 24px;
  color: #FAFAFA;
  background: #012438;
}

.container {
  max-width: 1104px!important;
}

a {
  text-decoration: none;
}

.nav-link {
  color: inherit;
}


.nav-link:hover, .nav-link.active {
  color: #17AC19;
}

.nav-separator {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #FFFFFF;
  border-radius: 50%;
}

main {
  padding-top: 68px;
  background: #FAFAFA;
}

button {
  border: none;
  background: none;
}

.theme-sidebar {
  margin-top: 12px;
}

.sidebar-add-theme__text {
  font-size: 24px;
  line-height: 24px;
  color: #7A7A7A;
}

.add-theme-form {
  flex-wrap: nowrap;
  border-bottom: 1px solid #17AC19;
}

.add-theme-form__input {
  padding: 7px 14px;
  display: none;
  width: 165px;
  background: #FFFFFF;
  border: 1px solid #777777;
  box-sizing: border-box;
  border-radius: 10px;
}

.theme__section {
  margin-top: 16px;
}

.add-theme-form.active .add-theme-form__input {
  display: block;
}

.add-theme-form.active .add-theme-form__button {
  display: block;
}

.add-theme-form__button {
  display: none;
}

.theme-title {
  font-size: 18px;
  line-height: 25px;
  color: #0B0B0B;
}

.theme__item:not(:first-child) {
  margin-top: 27px;
}

.theme__item:hover .theme-text, .theme-text {
  color: #007802;
}

.theme__item:hover .theme-controls {
  visibility: visible;
}

.theme-text:hover {
  color: #007802;
  border-bottom: 1px solid #DBDBDB;
}

.theme-text:active {
  background: none;
}

.theme-item__input {
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  color: #0B0B0B;
  border: none;
}

.theme-item__input:focus-visible {
  border: none;
  outline: none;
}


.theme-item__input:hover {
  color: #007802;
}

.theme-item__input:focus-visible {
  border: none;
}

.theme-item.edit .theme-item__input {
  color: #F78F0F;
  border-bottom: 1px solid #F78F0F;
}

.theme__item .theme__item-control {
  visibility: hidden;
}

.theme__item:hover .theme__item-control {
  visibility: visible;
}

.theme-item.edit .theme-controls {
  visibility: visible;
}

.theme-item__submit {
  display: none;
}

.theme-item.edit .theme-item__submit {
  display: initial;
}

.theme-item__edit {
  display: initial;
}

.theme-item.edit .theme-item__edit {
  display: none;
}

.detail {
  padding-left: 52px;
  display: none;
}

.detail.active {
  display: block;
}

.detail__title {
  margin-left: 20px;
  font-size: 30px;
  line-height: 36px;
  color: #008F02;
}

.detail__create {
  margin-top: 45px;
  padding: 14px 24px 14px 30px;
  background: #FFFFFF;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}


.detail__list {
  margin-top: 28px;
}

.detail__list-title {
  margin-top: 42px;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.detail-card {
  background: #FFFFFF;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.detail-card__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #0B0B0B;
}



.test {
  padding: 14px 24px 14px 30px;
  background: #FFFFFF;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.test__title {
  font-size: 24px;
  line-height: 36px;
  color: #008F02;
}

.detail__list .question:not(:first-child) {
  margin-top: 45px;
}

.test__text {
  font-size: 18px;
  line-height: 25px;
  color: #000000
}

.test:hover {
  color: #007802;
}

.test:hover .test__text {
  color: #007802;
}

.question__list {
  margin-top: 14px;
}

.test:not(:first-child) {
  margin-top: 15px;
}

.form-input {
  padding: 6px 5px 6px 13px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #777777;
}

.test:not(.open) .test__add-button {
  display: none;
}

.test.open .test__control {
  display: none;
}

.question-modal__list {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.answer:not(:first-child) {
  margin-top: 20px;
}

.answer__title {
  font-size: 20px;
  line-height: 36px;
  color: #008F02
}

.footer__copyright {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.modal-dialog {
  max-width: 700px;
}

.modal-content {
  padding: 30px 69.5px 47px 69.5px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.modal__title {
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.modal__description {
  margin-top: 22px;
}

.form-button {
  margin-top: 33px;
  padding: 9px;
  background: #008F02;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FAFAFA;
}

footer {
  background: #FAFAFA;
}

.hidden{
  visibility: hidden;
}