<div th:replace="header"></div>

<main class="flex-grow-1">
    <div class="container">
        <div class="title">
            <h1 class="start">To start testing choose theme and test</h1>
        </div>
        <form th:action="goTest" class="row d-flex align-items-end py-3" method="get">
            <div class="col-md-4 col-6">
                <p>Select theme</p>
                <select class="form-select h-100" aria-label="Default select example" id="testThemeSelect" name="theme">
                    <option selected disabled>Choose the topic</option>
                    <option th:each="topic : ${@topicServiceImpl.findAll()}" th:text="${topic.getName}">One</option>
                </select>
            </div>
            <div class="col-md-4 col-6">
                <p>Select test</p>
                <select class="form-select h-100" aria-label="Default select example" id="testSelect" name="testId">
                    <option selected disabled>Choose the test</option>
                </select>
            </div>
            <div class="col-md-4 col-12 pt-md-0 pt-3">
                <button
                        type="submit"
                        class="btn btn-lg w-100"
                >
                    Start
                </button>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
        <div class="border rounded p-2">
            <p class="py-2" id="testDescription">
                Быстрое создание и настройка адаптивных сайтов с помощью Bootstrap, - самого популярного в мире
                инструментария с открытым исходным кодом, включающего переменные Sass и миксины, адаптивную систему
                сеток и множество готовых компонентов и плагинов JavaScript. Быстрое создание и настройка адаптивных
                сайтов с помощью Bootstrap, - самого популярного в мире инструментария с открытым исходным кодом,
                включающего переменные Sass и миксины, адаптивную систему сеток и множество готовых компонентов и
                плагинов JavaScript.
            </p>
        </div>
    </div>
</main>

<div th:replace="footer"></div>
<div th:replace="modals"></div>

</body>
</html>
