<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../static/css/chooseTest1.css" th:href = "@{css/chooseTest1.css}" />
    <title>User1</title>
</head>
<body class="vh-100 d-flex flex-column">
<header>
    <div class="container">
        <nav class="row navbar navbar-expand-lg">
            <a class="col-auto navbar-brand" th:href="@{/chooseTest}"><img src="../../static/img/logo.svg" th:src="@{img/logo.svg}"></a>
            <div class="col d-flex justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="../../static/img/burger-icon.png" th:src="@{img/burger-icon.png}">
                </button>
            </div>
            <div class="col-12 col-lg-10">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="col">
                        <div class="col navbar-nav justify-content-evenly">
                            <a class="nav-link active" aria-current="page" th:href="@{/chooseTest}">Assessment</a>
                            <a class="nav-link" th:href="@{/personalStatistic}">Statistics</a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <span>User</span><span class="nav-separator mx-1 mb-1"></span><span
                            th:text="${session.user.getFirstName} + ' '+ ${session.user.getLastName}">Dmitriy Fedotov</span>
                        <a class="ms-2" th:href="@{/logout}">
                        <img src="../../static/img/logout.svg" th:src="@{img/logout.svg}"></a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<main class="flex-grow-1">
    <div class="container">
        <div class="title">
            <h1 class="start">To start testing choose theme and test</h1>
        </div>
        <form th:action="@{/goTest}" class="row gy-2" method="get">
            <div class="col-12 col-lg-4">
                <p class="select-label">Select theme</p>
                <select class="form-select select-input" id="testThemeSelect" name="theme" aria-label="Default select example">
                    <option selected disabled>Open this select menu</option>
                    <option th:each="topic : ${@topicServiceImpl.findAll()}" th:text="${topic.getName}">One</option>
                </select>
            </div>
            <div class="col-12 col-lg-4 hidden">
                <p class="select-label">Select test</p>
                <select class="form-select select-input" id="testSelect" name="testId" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-12 col-lg-4 d-flex flex-column justify-content-end hidden">
                <button
                        type="submit"
                        class="mt-4 mt-lg-0 submit-button"
                        id="startTestButton"
                >
                    Start
                </button>
            </div>
        </form>
        <div class="test-description hidden" id="testDescription">
        </div>
    </div>
    </div>
</main>
<footer class="py-4">
<h3 class="text-center">© Dev Incubator</h3>
</footer>

<script src="../../static/js/chooseTest.js" th:src="@{js/chooseTest.js}"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
></script>
<script
        src="https://kit.fontawesome.com/b605d0c877.js"
        crossorigin="anonymous"
></script>
</body>
</html>