<div th:replace="/fragments/header"></div>

<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="title">
                    <h1 class="start" th:text="${session.user.getFirstName} + ' '+ ${session.user.getLastName}">Ivanov
                        Andrey</h1>
                </div>

                <h3 class="py-3 no-tests">You haven't finished any test yet</h3>
                <button onclick="location.href='/user/chooseTest'" type="submit" class="btn mt-3 col-lg-4">
                    Start now
                </button>
            </div>
        </div>
    </div>
</main>

<div th:replace="/fragments/footer"></div>
<div th:replace="/fragments/modals"></div>

</body>
</html>