<div th:replace="header"></div>

<main>
    <div class="container">
        <div class="title">
            <h1 class="start" th:text="${session.user.getFirstName} + ' '+ ${session.user.getLastName}">Ivanov Andrey</h1>
        </div>

        <h3 class="py-3">You haven't finished any test yet</h3>
        <button
                onclick="location.href='/chooseTest'"
                type="submit"
                class="btn btn-lg mt-3 w-50"
        >
            Start now
        </button>
    </div>
</main>

<div th:replace="footer"></div>
<div th:replace="modals"></div>

</body>
</html>