<div th:replace="header"></div>

<main>
    <section class="result">
        <div class="container result__container">
            <div class="row justify-content-center result__head">
                <div class=" col result__title"><h3>Your personal statistic</h3></div>
            </div>
            <div class="result__body row">
                <div class="data-container active" id="dataContainer">
                    <div class="container my-4">
                        <div class="row" >
                            <div class="col-1 text-start" >#</div>
                            <div class="col-7 text-start" >Name of the test</div>
                            <div class="col-2" >Pass</div>
                            <div class="col-2">
                                <span>Average</span>
                                <button class="sort-button" id="sortTestsButton"><img src="../../static/img/sort-icon.svg" th:src="@{/img/sort-icon.svg}"></button>
                            </div>
                        </div>
                    </div>
                    <div class="" id="resultTableBody">
                        <div class="py-3 container test" th:each="stat,iter : ${statisticList}">
                            <div class="row" data-bs-toggle="collapse" href='#test${index}'>
                                <div class="col-1 text-start" th:text="${iter.index+1}">1</div>
                                <div class="col-7 text-start" th:text="${stat.testName}">Java 2 test</div>
                                <div class="col-2" th:text="${stat.getCount()}">5</div>
                                <div class="col-2" th:text="${stat.getAvgProc()}">80%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:replace="footer"></div>
<div th:replace="modals"></div>

<script src="../../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>