<div th:replace="/fragments/header"></div>

<main class="container">
    <div class="row">
        <section class="result">
            <div class="result__container col-lg-10 offset-lg-1">
                <div class="justify-content-center result__head">
                    <div class="result__title"><h3>Your personal statistic</h3></div>
                </div>
                <div class="container mt-3 mb-5" id="dataContainer">
                    <div class="row grid__head">
                        <div class="col-1 text-start d-none d-md-block">#</div>
                        <div class="col-md-8 col-sm-7 text-start mb-2 grid__head-item">Name of the test</div>
                        <div class="col-md-3 col-sm-5 text-center d-flex justify-content-between">
                            <div class="text-center grid__head-item">Pass</div>
                            <div class="text-center grid__head-item">
                                <span>Average</span>
                                <button class="sort-button" id="sortTestsButton"><img src="/img/sort-icon.svg"></button>
                            </div>
                        </div>
                    </div>
                    <div class="row grid__item" id="resultTableBody">
                        <div class="container test" th:each="stat,iter : ${statisticList}">
                            <div class="row result-row" data-bs-toggle="collapse" href="#test">
                                <div class="col-1 text-start d-none d-md-block" th:text="${iter.index+1}"></div>
                                <div class="col-md-8 col-sm-7 text-start" th:text="${stat.testName}"></div>
                                <div class="col-md-3 col-sm-5 text-center d-flex justify-content-between">
                                    <div style="width: 40px;" th:text="${stat.getCount()}"></div>
                                    <div style="width: 100px;" th:text="${stat.getAvgProc()+'%'}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<div th:replace="/fragments/footer"></div>
<div th:replace="/fragments/modals"></div>

<script src="../../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>