<div th:replace="header"></div>

<main>
    <section class="result">
        <div class="container result__container">
            <div class="row justify-content-center result__head">
                <div class=" col result__title"><h3>Your personal statistic</h3></div>
            </div>
            <div class="row result__body">
                <div class="col-12 data-container active" id="dataContainer">
                    <div class="grid" >
                        <div class="grid__item grid__head-item" >#</div>
                        <div class="grid__item grid__head-item" >Name of the test</div>
                        <div class="text-center grid__item grid__head-item" >Pass</div>
                        <div class="text-center grid__item grid__head-item">
                            <span>Average</span>
                            <button class="sort-button" id="sortTestsButton"><img src="../../static/img/sort-icon.svg" th:src="@{img/sort-icon.svg}"></button>
                        </div>
                    </div>
                    <div class="col-12" id="resultTableBody">

                        <div class="py-3 col-12 test" th:each="stat,iter : ${statisticList}">
                            <div class="grid" data-bs-toggle="collapse" href='#test${index}'>
                                <div class="grid__item" th:text="${iter.index+1}">1</div>
                                <div class="grid__item" th:text="${stat.testName}">Java 2 test</div>
                                <div class="text-center justify-content-center grid__item" th:text="${stat.getCount()}">5</div>
                                <div class="text-center justify-content-center grid__item" th:text="${stat.getAvgProc()}">80%</div>
                            </div>
                        </div>

                        <div class="py-3 col-12 test">
                            <div class="grid" data-bs-toggle="collapse" href='#test${index}'>
                                <div class="grid__item">2</div>
                                <div class="grid__item">Java 1 test</div>
                                <div class="text-center justify-content-center grid__item">5</div>
                                <div class="text-center justify-content-center grid__item">85%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:replace="footer"></div>
<div th:replace="modals"></div>

<script src="../../static/js/script.js" th:src="@{js/script.js}"></script>
</body>
</html>