.min-width-780{
    min-width: 780px;
}

body{
    font-family: 'Roboto', sans-serif;
}

button,
button:active,
button:focus {
    outline: none;
}

.header-content{
    display: block;
    background: #012438;
    position: relative;
}

.bar{
    padding: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.7fr;
}

@media (max-width: 1200px) {
    .bar{
        grid-template-columns: 2fr 1fr 1fr 1fr 3fr;
    }
}

.bar__text{
    color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    align-self: center;

}

.bar__text:hover{
    color: #17AC19;
}

.bar__text--active{
    color: #17AC19;
}

.bar__user{
    color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    text-align: end;
    align-self: center;
}
.bar__door{
    vertical-align: top;
}

.users-list-text{
    font-size: 36px;
    line-height: 54px;
    margin: 30px 0;
}







