<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" class="min-width-780" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
<!--&lt;!&ndash;    <meta name="viewport" content="width=device-width, initial-scale=1.0" />&ndash;&gt;-->
<!--    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">-->
<!--    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{css/styles.css}" />-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <title>Dev-inc</title>-->
<!--</head>-->
<!--<header><div class="header-content"><div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col"><div class="bar"><a href="#" th:href="@{/user}">-->
<!--            <img src="../../static/img/icon.png" th:src="@{img/icon.png}" alt="dev-incubator-icon"-->
<!--            class=""/></a>-->
<!--            <a href="#" th:href="@{/user}" class="bar__text bar__text&#45;&#45;active">User</a>-->
<!--            <a href="#" class="bar__text">Tests</a>-->
<!--            <a href="#" class="bar__text">Statistic</a>-->
<!--            <span>Admin &bull; </span> <span th:text = "${session.user.firstName} + ' '+ ${session.user.lastName} " class="bar__user"> Maksim Salivanov-->
<!--            <a href="/logout"><img src="../../static/img/exit.png" th:src="@{/img/exit.png}" class="bar__door"></a></span>-->
<!--            </div></div>-->
<!--    </div>-->
<!--</div></div>-->
<!--</header>-->
<!--<body>-->
<!--<section class="container">-->
<!--    <div class="row">-->
<!--        <div class="col"><h1 class="users-list-text">Users list</h1></div>-->
<!--        <div th:each="user : ${session.users}">-->
<!--            <span th:text="${user.firstName} + ' ' + ${user.lastName} + ' ' +-->
<!--            ${user.login}">first Name + lastName + userLogin</span>-->
<!--&lt;!&ndash;            Форма - всплывающее окно в Admin 3 , которая будет показывать все данные&ndash;&gt;-->
<!--            <form th:action="@{/editUser}" method="post">-->
<!--                <label>-->
<!--                    Name-->
<!--                    <input type="text" name="firstName" th:value="${user.firstName}"/>-->
<!--                </label>-->
<!--                <label >-->
<!--                    Surname-->
<!--                    <input type="text" name="lastName" th:value="${user.lastName}"/>-->
<!--                </label>-->
<!--                <label>-->
<!--                    Role-->
<!--&lt;!&ndash;                    <select name="roleName">&ndash;&gt;-->
<!--&lt;!&ndash;                        <option selected th:value="${user.roles.get(0).roleName}"&ndash;&gt;-->
<!--&lt;!&ndash;                        th:text ="${user.roles.get(0).roleName.substring(5).toLowerCase()}">User</option>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option value="ROLE_USER" th:if="${user.roles.get(0).roleName.equals('ROLE_ADMIN')}" th:value="ROLE_USER"&ndash;&gt;-->
<!--&lt;!&ndash;                        th:text ="user">Admin</option>&ndash;&gt;-->
<!--&lt;!&ndash;                        <option value="ROLE_ADMIN" th:if="${user.roles.get(0).roleName.equals('ROLE_USER')}" th:value="ROLE_ADMIN"&ndash;&gt;-->
<!--&lt;!&ndash;                                th:text ="admin">Admin</option>&ndash;&gt;-->
<!--&lt;!&ndash;                    </select>&ndash;&gt;-->
<!--                </label>-->
<!--                <label>-->
<!--                    Login-->
<!--                    <input type="text" name="login" th:value="${user.login}"/>-->
<!--                </label>-->
<!--                <label>-->
<!--                    Password-->
<!--                    <input type="text" name="password"/>-->
<!--                </label>-->
<!--                <label>-->
<!--                    <input type="hidden" name="userId" th:value="${user.userId}"/>-->
<!--                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" autocomplete="on"/>-->
<!--                    <button type="submit">Submit</button>-->
<!--                </label>-->
<!--            </form>-->
<!--&lt;!&ndash;            Форма для удаления пользователя&ndash;&gt;-->
<!--        <form th:action="@{/removeUser}" method="get">-->

<!--            <input type="submit" th:value="${user.userId}" name="userId"/>-->
<!--            &lt;!&ndash;            Форма для удаления пользователя&ndash;&gt;-->
<!--        </form></div>-->
<!--        &lt;!&ndash;            Форма - всплывающее окно в Admin 3 , которая будет показывать все данные&ndash;&gt;-->
<!--&lt;!&ndash;Форма создания пользователя&ndash;&gt;-->
<!--        <form th:action="@{/addUser}" method="post">-->
<!--            <label>-->
<!--                Name-->
<!--                <input type="text" name="firstName"/>-->
<!--            </label>-->
<!--            <label >-->
<!--                Surname-->
<!--                <input type="text" name="lastName"/>-->
<!--            </label>-->
<!--            <label>-->
<!--                Role-->
<!--                <select name="roleName">-->
<!--                    <option value="ROLE_USER" name="roleName">user</option>-->
<!--                    <option value="ROLE_ADMIN" name="roleName">admin</option>-->
<!--                </select>-->
<!--            </label>-->
<!--            <label>-->
<!--                Login-->
<!--                <input type="text" name="login"/>-->
<!--            </label>-->
<!--            <label>-->
<!--                Password-->
<!--                <input type="text" name="password"/>-->
<!--            </label>-->
<!--            <label>-->
<!--                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" autocomplete="on"/>-->
<!--                <button type="submit">Submit</button>-->
<!--            </label>-->
<!--        </form>-->
<!--        &lt;!&ndash;Форма создания пользователя&ndash;&gt;-->



<!--            <span>Ссылка на удаление</span>-->

<!--    </div></section>-->
<!--<script src = "../static/js/admin.js" th:src="@{js/admin.js}"></script>-->
<!--</body>-->
<!--</html>-->